@{
    ViewData["Title"] = "Groceries.Boudreau.Cloud";
}

<div class="row">
    <div class="col-md-12">
        <H2>Tests</H2>
        <div id="TestOutput">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/shoppinglist.tests.js" asp-append-version="true"></script>
}